/*

    Colors:
    #FB8B24 - Dark Orange    
    #D33F49 - English Vermillion
    #FFFFFF - White
    #291720 - Dark Purple
    #276FBF - Celtic Blue
    #100C08 - Smoky Black

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-orange: #FB8B24;
    --english-vermillion: #D33F49;
    --dark-purple: #291720;
    --celtic-blue: #276FBF;
    --smoky-black: #100C08;
}

body {
    height: 100vh;
    position: relative;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--smoky-black);
}

#login-container {
    width: 30%;
    height: 75%;
    background-image: linear-gradient(-45deg, var(--dark-orange) -10%, var(--english-vermillion) 110%);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

#form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input {
    height: 5%;
    width: 50%;
    margin: 5%;
    padding-left: 2%;
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    color: white;
    font-size: 1.2rem;
}

.form-input::placeholder {
    color: white;
}

.form-input:focus {
    outline: none;
}

#button-container {
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-button {
    width: 75%;
    height: 50%;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: white;
    font-size: 1.2rem;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

#create-button:hover {
    background-color: white;
    cursor: pointer;
    color: var(--celtic-blue);
}